@import url(script.js);
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Fira+Mono:wght@400;500;700&display=swap');

body {
    background-color: black;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

h1 {
    color: white;
    font-family: 'Bitcount Grid Single';
    font-weight: 450;
    font-size: 3.5rem;
    margin: 5px;
}

.space {
    height: 10vh;
}

p {
    color: white;
    font-family: 'fira mono';
    font-size: 1.2rem;
    margin: 2px;
}

.setup {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 15vw;
    height: auto;
}

.gep img {
    margin-left: 20px;
}

.gep {
    margin: 20px;
    flex-direction: column;
    display: flex;
    text-align: center;
    border-color: white;
    border-style: dashed;
    border-width: 2px;
    padding: 10px;
}

hr {
    display: block;
    height: 1px;
    width: 80%;
    color: white;
    border: 0;
    border-top: 1px solid;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.periferiak {
    margin: 20px;
    flex-direction: column;
    display: flex;
    text-align: center;
    border-color: white;
    border-style: dashed;
    border-width: 2px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .setup {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 12vw;
    }

    .space {
        height: 2.5vh;
    }

    img {
        width: 50vw;
        height: auto;
        margin-left: 15%;
    }

    .gep {
        width: 80%;
        
    }

    .gep img {
        margin-left: 15%;
    }

    .periferiak {
        width: 80%;
    }
}
